@use "variables" as *;
@use "sass:color";

.payment-method-card {
 &.card-blue {
  background-color: $card-bg-color-light;
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 }

 &.card-dark-blue {
  background-color: $card-bg-color-dark;
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 }

 .card-title {
  font-family: $card-title-font-family;
  font-weight: $card-title-font-weight;
  font-size: $card-title-font-size;
  color: white;
 }

 .card-text {
  font-family: $card-text-font-family;
  font-size: $card-text-font-size;
  font-weight: 500;
  margin-bottom: auto;
 }

 .rental-button {
  background-color: $rental-button-bg-color;
  color: white;
  border: none;
  border-radius: 4px;
  width: $rental-button-width;
  height: $rental-button-height;
  font-family: $card-text-font-family;
  cursor: pointer;
 }

 .card-image {
  max-width: 100%;
  height: auto;
 }
}

.card-grid {
 .card {
  background-color: $card-bg-color;
  border: none;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  transition: transform 0.2s;

  &:hover {
   transform: scale(1.05);
  }

  .card-img-top {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   height: 200px;
   object-fit: cover;
  }

  .card-body {
   text-align: center;

   .card-title {
    font-size: 1.25rem;
    font-weight: 500;
   }

   .card-text {
    font-size: 0.9rem;
   }
  }
 }
}

.show-more-button {
 background-color: $primary-color;
 color: $white;
 font-family: $font-family;
 border: none;
 border-radius: 5px;
 font-weight: 600;
 font-size: 16px;
 width: 156px;
 height: 44px;
 margin: 0 auto;
}

.cars-count-button {
 background-color: $button-bg-color;
 color: $title-color;
 font-family: $font-family;
 padding: 0.5rem 1rem;
 border: none;
 border-radius: 5px;
 font-weight: 500;
 font-size: 14px;
 margin-left: 15px;
}

.rent-card {
 width: 100%;
 height: 100%;
 border-radius: 10px;
 overflow: hidden;
 padding: 15px;
 border: none;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 background-color: white;
 position: relative;

 &-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .rent-car-name {
   font-family: "Plus Jakarta Sans";
   font-weight: bold;
   font-size: 20px;
   color: $black;
   align-self: center;
  }

  .heart-icon {
   font-size: 24px;
   color: lightgray;
  }
 }

 &-body {
  display: flex;
  flex-direction: column;

  .rent-car-type {
   font-weight: bold;
   font-size: 14px;
   color: $secondary-color;
   text-align: left;
  }

  .rent-car-image-container {
   position: relative;

   img.rent-car-image {
    width: 250px;
    height: 112px;
    z-index: 1;
   }

   .rent-shadow-image {
    position: absolute;
    width: 304px;
    height: 68px;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-radius: 0 0 20px 20px;
   }
  }

  .rent-row-of-images {
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
   margin-top: 10px;
   gap: 5px;

   img.rent-small-image {
    width: 58px;
    height: 24px;
   }
  }

  .rent-price-row {
   margin-top: 10px;

   .rent-price {
    font-weight: bold;
    font-size: 20px;
    color: black;
   }

   .rent-price-label {
    font-weight: bold;
    font-size: 14px;
    color: $secondary-color;
   }
  }

  .rent-now {
   margin-top: 10px;
   background-color: $primary-color;
   color: $white;
   font-family: "Plus Jakarta Sans";
   font-weight: 600;
   font-size: 16px;
   width: 100%;
   border-radius: 5px;
  }
 }
}
