@use 'variables' as *;

// Footer Section Styles
.footer {
   background-color: white;
    &-text,
    &-copy,
    &-policy {
        font-family: $footer-font-family;
        font-size: $footer-font-size;
        font-weight: $footer-font-weight;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $footer-text-color;
    }

    &-heading {
        font-family: $footer-font-family;
        font-size: $footer-heading-font-size;
        font-weight: $footer-heading-weight;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: $footer-heading-color;
    }

    &-links {
        a {
            font-family: $footer-font-family;
            font-size: $footer-font-size;
            font-weight: $footer-font-weight;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: $footer-link-color;
            text-decoration: none;

            &:hover {
                color: $footer-link-hover-color;
                text-decoration: underline;
            }
        }
    }

    &-bottom {
        border-top: 1px solid $footer-border-color;
        padding-top: 10px;
    }

    &-policy {
        &:hover {
            color: $footer-link-hover-color;
            text-decoration: underline;
        }
    }

    &-logo {
        font-family: $footer-font-family;
        font-size: $footer-logo-font-size;
        font-weight: $footer-logo-weight;
        line-height: 48px;
        letter-spacing: -0.03em;
        color: $footer-logo-color;
        text-align: left;
    }
}
