// Importing Local SCSS Files
@use "nav";           
@use "footer";         
@use "cards";         
@use "forms";         
@use "steps";         
@use "variables";

//   Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

// Body
body {
  background: #f6f7f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

// Summary Section
.col-md-5 {
  line-height: 1.5;
  box-sizing: border-box;
}

// Responsive  
@media (max-width: 1000px) {
  .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
